
/* Base Styles */

html, body, 
p, a,
ol, ul, li,
img, figure, figcaption,
h1, h2, h3, h4, h5, h6 {
   margin   : 0;
   padding  : 0;
   outline  : 0 none;
}

html, body {
   overflow   : hidden;

   min-height : 100%;
   min-width  : 100%;

   max-height : 100%;
   max-width  : 100%;

   height     : 100%;
   width      : 100%;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
   text-decoration : none;
}

h1, h2, h3, h4, h5, h6 {
   font-weight : normal;
}

ol, ul { 
   list-style : none;
}

img, figure { 
   border  : 0;
}


/* General Styles */

#panel,
#visual,
#wrapper { height : 100%; }

#panel { overflow : auto; 
box-shadow : -1px -1px 3px 0px #333;}

.v-padding { padding-bottom: 2em; }

.navbar { margin-bottom : 0; }
.navbar-inner {
   background : #266399;
   padding          : 0;
   border-radius    : 0;
   border-top: none;
   border-bottom: #2E2E2E; 
  color: #E5E5E5;
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #325473, #0C3A63);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#325473), to(#0C3A63));
  background-image: -webkit-linear-gradient(top, #325473, #0C3A63);
  background-image: -o-linear-gradient(top, #325473, #0C3A63);
  background-image: linear-gradient(to bottom, #325473, #0C3A63);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff325473', endColorstr='#ff0C3A63', GradientType=0);
  *background-color: #0C3A63;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.tab.current {
	background : #006DCC;
	color : #FFFFFF;
	background-image: -moz-linear-gradient(top, #0044cc, #69B8E0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0044cc), to(#69B8E0));
	background-image: -webkit-linear-gradient(top, #0044cc, #69B8E0);
	background-image: -o-linear-gradient(top, #0044cc, #69B8E0);
	background-image: linear-gradient(to bottom, #0044cc, #69B8E0);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0044cc', endColorstr='#ff69B8E0', GradientType=0);
	/*border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*/
	border-bottom: none;	 
}

.tab:not(.current):hover {
  background : #29409C;
}

.header {
   box-shadow : 0px 1px 3px 0px #333;
   top : 0;
}

   .title    {
      color         : #DDD;
      font-family   : "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size     : 1.5em;
      padding-left  : 2em;
   }


.headline {
   font-size : 1.35em;
   margin-bottom : 0.5em;
}

.headline.unmargin { margin : 0; }

.footer {
   color : white;
   position   : relative;
   bottom     : 3em;

   text-align : center;

   width      : 100%;
   height     : 1.70em;
}

.left   { float      : left;   }
.right  { float      : right;  }
.center { text-align : center; }
.auto   { margin     : auto;   }

.block  { display : block;  }
.inline { display : inline; }
.hidden { display : none; }

.transparent { opacity : 0.85; }

.total {
   z-index : -1;

   width    : 100%;
   height   : 100%;
}

.dark {
   background : rgba(21, 21, 21, 0.85);
   color      : #EFEFEF;
}


/* 12 columns */
.columns {}
.columns.three  { width : 24.5%; }
.columns.four   { width : 33.33333333333%; }
.columns.six    { width : 49.9%; }
.columns.eight  { width : 66.66666666666%; }
.columns.nine   { width : 75%; }
.columns.ten    { width : 83.33333333333%; }
.columns.eleven { width : 91.66666666666%; }
.columns.twelve { width : 100%;  }

.border {
   border        : 1px solid #CCC;
   border-radius : 4px;
}

.widget {
   margin-bottom : 1.75em;
   min-width: 400px;
}


/* Test Widget */

.tabs {
   border-bottom : 1px solid #CCC;
   height : 2em;
}

/*
   .tab {
      padding : 0.35em 0;
   }
*/

.tab {
   padding      : 10px 0;

   border-right : 1px solid #AAA;
/*   color        : #C5C6C9;*/
   font-size    : 1.125em;
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.tab:last-child { border-right : 0; }

.text-padding {
   padding  : 1em 1em 0.2em;
   height   : 80px;
   overflow : auto;
   background: #EFEFEF;
}

#test-description{
	color : #2E2E2E;
}

/* Logger Widget */


   .log                 { color : black; }
   .log:nth-child(even) { background : #CCC; }
   .log:nth-child(odd)  { background : #FFF; }
   
      .timestampCell {
        width : 20%;
      }

      #tableHeader{
      	width : 100%;
      	text-align: center;
      }
      
      .titleTable{
      	text-align : center;
      	font-size  : 1.2em;
      }
     
     #timeStamp{
     	width : 20%;
     	float: left;
     } 
      
     #msg{
     	float: none;
      	width : 80%;
      }


      .table th, .table td { padding : 4px 8px; border:0; text-align: center; }
      
      .message{
    	float: left;
      	margin-left: 1em;
      }


.scrollContainer {
   overflow : hidden;
   height   : 130px;
   width    : 100%;
}

.scrollable {
   overflow : auto;
   height   : 110px;
   width    : 100%;
}

.table { 
   margin-bottom : 0;
   width : 100%;
   font-size: 0.9em;
}

#save-log {
	float: right;
	margin-top: 10px;
}

/* Buttons Widget */

#buttons {
   width : 30em;
}

.graph-container { 
	height : 130px; 
	overflow-x: auto;
	overflow-y: hidden;
	}

   .graph {
      width : 360px;
      height: 110px;
      margin: 12px auto;
   }

   .keys {
      text-align: left;
      height : 90%;
      width  : 100px;
      padding-left : 15px;
      padding-top  : 10px;
   }

      .keys td { 
        text-align: left;
        padding : 0px; }

        .agent {
          text-align : left;
          line-height: 15px;
          font-size  : 1.1em;
        }
        
        .agent.blue   { color : #00A8F0; }
        .agent.yellow { color : #C0D800; }
        .agent.red    { color : #CB4B4B; }
        .agent.green  { color : #4DA74D; }
        .agent.violet { color : #9440ED; }

            .usage {
                margin-left: 4px;
            }

.clear {
   clear : both;
}





      .meter { 
         height: 20px;  /* Can be anything */
         position: relative;
         margin: 0px 0 25px 0;
         background: #555;
         -moz-border-radius: 8px;
         -webkit-border-radius: 8px;
         border-radius: 8px;
         -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
         -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
         box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
         box-shadow        : 0px 1px 4px;
      }
      .meter > span {
         display: block;
         width : 0%;
         height: 100%;
            -webkit-border-top-right-radius: 8px;
         -webkit-border-bottom-right-radius: 8px;
                -moz-border-radius-topright: 8px;
             -moz-border-radius-bottomright: 8px;
                    border-top-right-radius: 8px;
                 border-bottom-right-radius: 8px;
             -webkit-border-top-left-radius: 8px;
          -webkit-border-bottom-left-radius: 8px;
                 -moz-border-radius-topleft: 8px;
              -moz-border-radius-bottomleft: 8px;
                     border-top-left-radius: 8px;
                  border-bottom-left-radius: 8px;
         background-color: rgb(43,194,83);
         background-image: -webkit-gradient(
           linear,
           left bottom,
           left top,
           color-stop(0, rgb(43,194,83)),
           color-stop(1, rgb(84,240,84))
          );
         background-image: -moz-linear-gradient(
           center bottom,
           rgb(43,194,83) 37%,
           rgb(84,240,84) 69%
          );
         -webkit-box-shadow: 
           inset 0 2px 9px  rgba(255,255,255,0.3),
           inset 0 -2px 6px rgba(0,0,0,0.4);
         -moz-box-shadow: 
           inset 0 2px 9px  rgba(255,255,255,0.3),
           inset 0 -2px 6px rgba(0,0,0,0.4);
         box-shadow: 
           inset 0 2px 9px  rgba(255,255,255,0.3),
           inset 0 -2px 6px rgba(0,0,0,0.4);
         position: relative;
         overflow: hidden;
      }
      .meter > span:after, .animate > span > span {
         content: "";
         position: absolute;
         top: 0; left: 0; bottom: 0; right: 0;
         background-image: 
            -webkit-gradient(linear, 0 0, 100% 100%, 
               color-stop(.25, rgba(255, 255, 255, .2)), 
               color-stop(.25, transparent), color-stop(.5, transparent), 
               color-stop(.5, rgba(255, 255, 255, .2)), 
               color-stop(.75, rgba(255, 255, 255, .2)), 
               color-stop(.75, transparent), to(transparent)
            );
         background-image: 
            -moz-linear-gradient(
              -45deg, 
               rgba(255, 255, 255, .2) 25%, 
               transparent 25%, 
               transparent 50%, 
               rgba(255, 255, 255, .2) 50%, 
               rgba(255, 255, 255, .2) 75%, 
               transparent 75%, 
               transparent
            );
         z-index: 1;
         -webkit-background-size: 50px 50px;
         -moz-background-size: 50px 50px;
         -webkit-animation: move 2s linear infinite;
            -webkit-border-top-right-radius: 8px;
         -webkit-border-bottom-right-radius: 8px;
                -moz-border-radius-topright: 8px;
             -moz-border-radius-bottomright: 8px;
                    border-top-right-radius: 8px;
                 border-bottom-right-radius: 8px;
             -webkit-border-top-left-radius: 20px;
          -webkit-border-bottom-left-radius: 20px;
                 -moz-border-radius-topleft: 20px;
              -moz-border-radius-bottomleft: 20px;
                     border-top-left-radius: 20px;
                  border-bottom-left-radius: 20px;
         overflow: hidden;
      }
      
      .animate > span:after {
         display: none;
      }
      
      @-webkit-keyframes move {
          0% {
             background-position: 0 0;
          }
          100% {
             background-position: 50px 50px;
          }
      }
      
      .red > span {
         background-color: #f0a3a3;
         background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
         background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
         background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
      }
      
      .nostripes > span > span, .nostripes > span:after {
         -webkit-animation: none;
         background-image: none;
      }

#description { margin-bottom : 25px; }

.modal { background-color : #EEEEEE; }

.btn {
  width : 6em;
  margin-right : 0.75em;
}

.btn:last-child { margin-right : 0; }