
/* Graphic Colors */

.graph {
	margin : 8px auto;
	height : 100px;
	width  : 400px;
}


.legend {
	margin : 5px;
	height : 100%;
	width  : 100%;
}

	.legend.blue   { color : #00A8F0; }
	.legend.yellow { color : #C0D800; }
	.legend.red    { color : #CB4B4B; }
	.legend.green  { color : #4DA74D; }
	.legend.violet { color : #9440ED; }