
/* Reusable Modules */

.navbar {
    position: relative;
    z-index: 2;
    margin-bottom: 0;
    overflow: visible;
    color: #777777;
}

   .navbar-inner {
        background : #EFEFEF;
        border     : 1px solid #d4d4d4;

        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
             box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
        filter     : progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);

        padding    : 0;
        min-height : 40px;
   }

    .navbar-inner:before,
    .navbar-inner:after {
         display: table;
         line-height: 0;
         content: "";
    }

    .navbar-inner:after {
        clear: both;
    }


.headline {
    font-size : 1.2em;
    margin-bottom : 0.5em;
}

   .headline.unmargin { margin : 0; }


.border {
    border        : 1px solid #CCC;
    border-radius : 4px;
}


.widget {
    margin-bottom : 1.5em;
    min-width: 200px;
}


.v-padding { padding: 3em 0; }


.text-ellipsis {
    overflow      : hidden;
    text-overflow : ellipsis;
    white-space   : nowrap;
}


.table { 
    background-color : transparent;
    border-collapse  : collapse;
    border-spacing   : 0;

    margin-bottom : 0;

    width     : 100%;
    max-width : 100%;
}

    .table th,
    .table td { padding : 4px 8px; }