
.tabs {
   border-bottom : 1px solid #CCC;
   height : 2em;
}

   .tab {
      color        : #333;
      font-size    : 1.125em;
      text-shadow  : 0 1px 0 white;
      height       : 2.25em;
   }

      .tab-inner {
         border-right : 1px solid #BBB;
         border-right : 1px solid #DEDEDE;
         margin       : auto;
         text-align   : center;         
         height       : 100%;
         width        : 99.3%;
      }

      .tab-inner p { 
         padding-top : 0.5em;
      }

      .tab:nth-child(4) .tab-inner { border-right : 0; }

      /* TODO!!! */
      .tab.current {}

.test-info {
   background : whitesmoke;
   color      : #2E2E2E;
   padding    : 1em;
   height     : 130px;
   overflow   : auto;
}