
.dark {
	background : #151515;
	color      : #EFEFEF;
}

.transparent { opacity : 0.85; }


.blue {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-repeat: repeat-x;

	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

	.blue.active {
		color: rgba(255, 255, 255, 0.75);
	}

	.blue:hover,
	.blue:active,
	.blue.active,
	.blue.disabled,
	.blue[disabled] {
		color: #ffffff;
		background-color: #0044cc;
	}

	.blue:active,
	.blue.active {
		background-color: #003399;
	}

